.wrapper {
  display: flex;
  width: 100%;
}
.productItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
}
.imgArea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
}
.img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
