.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 240px;
  background-color: #f8f9fa;
}
.item {
  display: flex;
  height: 120px;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.icon {
  width: 52px;
}
.title {
  font-weight: bold;
  font-size: 20px;
}
.text {
  color: #797979;
}
