.search-area {
  position: relative;
}
.searchBox {
  display: flex;
  justify-content: space-between;
  height: 20px;
  width: 240px;
  background-color: white;
  border-radius: 40px;
  padding: 10px 20px;
  border: 1px solid #797979;
}

.searchText {
  border: none;
  background: none;
  outline: none;
  padding: 0px;
  float: left;
  color: #797979;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
}

.searchBtn {
  color: #a9b5df;
  width: 40px;
  height: 100%;
  border-radius: 50%;
  background-color: white;
  border: none;
  float: right;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
