.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-img {
  width: 200px;
  height: 200px;
}
.product-category {
  color: #797979;
}
.product-name {
}
.product-price {
}
